/* CSS for content page structure that does not include a table of contents */

#content_no_toc {
    max-width: 800px;
    background-color: var(--bg-main);
    margin:auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 4em;
    line-height: 1.6;
}