/* CSS for content page structure that includes a table of contents */

#TableOfContents ul {
    font-family: var(--dd-serif-font);
    list-style-type: disc;
    color: var(--accent-col);
}

#TableOfContents ul li {
    padding-top: 10px;
}

#TableOfContents ul li a {
    font-family: var(--dd-serif-font);
    color: var(--accent-col);
    text-decoration: none;
}
