@font-face {
    font-family: libertinus;
    src: url(/fonts/LibertinusSerif-Regular.otf);
}
  
  
@font-face {
    font-family: EBGaramond;
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
}
  
@font-face {
    font-family: Vollkorn;
    src: url(/fonts/Vollkorn-VariableFont_wght.ttf);
}
  
@font-face {
    font-family: Caudex;
    src: url(/fonts/Caudex-Regular.ttf);
}
  
@font-face {
    font-family: Cardo;
    src: url(/fonts/Cardo-Regular.ttf);
}
  
@font-face {
    font-family: CinzelDecorative;
    src: url(/fonts/CinzelDecorative-Regular.ttf);
}
  
@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.ttf);
}
  
@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Bold.ttf);
    font-weight: bold;
}
