/* CSS for content page structure that includes a table of contents */

#content_with_toc {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#toc {
    flex-shrink: 0;
    width: 300px;
    padding-top: 4rem;
    padding-right: 1em;
    background-color: var(--bg-dark);
}

.main_next_to_toc {
    max-width: 800px;
    flex-grow: 1;
    background-color: var(--bg-main);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 4em;
    line-height: 1.6;
}

#TableOfContents ul {
    font-family: var(--dd-serif-font);
    list-style-type: disc;
    color: var(--accent-col);
}

#TableOfContents ul li {
    padding-top: 10px;
}

#TableOfContents ul li a {
    font-family: var(--dd-serif-font);
    color: var(--accent-col);
    text-decoration: none;
}
