{{ define "main" }}
<div class="centered-container">
    <div class="small_header">
        <span
            ><a class="logo_link" href="{{ .Site.BaseURL }}"
                >{{ site.Title }}</a
            ></span
        >
        <span class="nav">
            {{ range .Site.Menus.nav }}
            <a href=" {{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </span>
    </div>
    <div class="main-content">
        <div id="home_nav">
            <ul>
                <li><a href="https://www.twitter.com/jmac_ai">Twitter</a></li>
                <li><a href="https://discord.gg/nu3pyBrNpg">Discord</a></li>
                <li>
                    <a href="https://bsky.app/profile/jmac-ai.bsky.social"
                        >Blue Sky</a
                    >
                </li>
                <li><a href="https://github.com/jmacglashan">Github</a></li>
                <li>
                    <a href="https://ai.sony/people/James-MacGlashan/"
                        >Sony AI</a
                    >
                </li>
            </ul>
        </div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
</div>
{{ end }}
