{{ define "headb" }}
<div id="splash">
<h1>{{ site.Title }}</h1>
<p>A guide to the perilous world of reinforcement learning.</p>
</div>
{{ end }}

{{ define "main" }}
  <div id="content_center">
    <div id="home_nav">
      <ul> 
        {{ range .Site.Menus.nav }} 
            <li><a href=" {{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ .Content }}
    <h2>Recent posts</h2>
    {{ range site.RegularPages }}
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{ .Summary }}
    {{ end }}
  </div>
{{ end }}
